<div class="row">
  <div class="col-xs-12">
    <img
      [src]="post.imagePath"
      alt="{{ post.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ post.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ post.description }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="true">
      <!-- TU treba da dodju svi buttoni a gore treba da se ispita da li ulogavan korisnik i ako jeste da li je to njegov post da moze da komentarise.. -->
    </div>
    <div class="dropdown" appDropdown>
      <button
        [disabled]="!isLoggedIn"
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown">
        Manage Post
      </button>
      <ul class="dropdown-menu">
        <li><button [disabled]="!isLoggedIn" class="dropdown-item" style="cursor: pointer;" (click)="onEditPost()">Edit Post</button></li>
        <li><button [disabled]="!isLoggedIn" class="dropdown-item" style="cursor: pointer;" (click)="onAddComment()">Comment Post</button></li>
        <li><button [disabled]="!isLoggedIn" class="dropdown-item" style="cursor: pointer;" (click)="onDeletePost()">Delete Post</button></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-item"
        *ngFor="let comment of post.comments">
        {{ comment.content }}
      </li>
    </ul>
  </div>
</div>
